body {
    font-family: Arial, Helvetica, sans-serif;
    border: 6px;
}

a.button {
    border: 6px;
    background-color: aqua;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    padding: 3px;
    

}

label{
    float: left;
}

form{
    border: 5px;

}